<div class="card-container d-flex justify-content-center">
  <div class="card custom-card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <div class="card-title-container text-center">
      <span class="circle-decoration"></span>
      <h2 class="custom-card-title">All Freezers</h2>
      <span class="circle-decoration"></span>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="icon-container">
        <img src="/Freezers/themes/belgrade/images/closeFreezers.png" alt="Freezer Icon" class="img-fluid">
      </div>
      <h3 class="number-display mb-0 ms-2">{{ freezer_names_total_count }}</h3>
    </div>
    <div class="text-center mt-3">
      <a href="/Freezers/freezer-history" class="custom-button">View Details</a>
    </div>
  </div>

  <div class="card custom-card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <div class="card-title-container text-center">
      <span class="circle-decoration"></span>
      <h2 class="custom-card-title">Active Freezers</h2>
      <span class="circle-decoration"></span>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="icon-container">
        <img src="/Freezers/themes/belgrade/images/closeFreezers.png" alt="Freezer Icon" class="img-fluid">
      </div>
      <h3 class="number-display mb-0 ms-2">{{ freezer_names_published_count }}</h3>
    </div>
    <div class="text-center mt-3">
      <a href="/Freezers/freezer-history" class="custom-button">View Details</a>
    </div>
  </div>
</div>
